body {
    margin: 0;
    height: 100vh;;
}

h1 {
    margin: 0;
}

#game-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100px;
    height: 70vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 30px auto;
    display: none;
}

#gameButtons {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

#leftPlayer {
    display: flex;
    flex-direction: column;
}

#p1Name {
    display: none;
}

#p2Name {
    display: none;
}

#rightPlayer {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100px;
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 10px 5px;
    background-color: grey;
    transition-duration: 0.3s;
    justify-content: center;
    display: inline;
    cursor: pointer;
}

.btn:hover {
    background-color: cornsilk;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: lightgray;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    height: 90px;
    width: 15px;
    border-radius: 10px;
    position: absolute;
}

.cell.x::before, 
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::before, 
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    height: 90px;
    width: 90px;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    height: 63px;
    width: 63px;
    background-color: white;
    
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

#resButton {
    width: 100px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
}

.win-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .95);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    flex-direction: column;
}

.win-screen.show {
    display: flex;
}